<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      fxFlex="33%"
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      *ngFor="let num of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
    >
      <mat-card fxFlex="300px" class="mat-elevation-z10">
        <mat-card-header>
          <mat-card-title>Java</mat-card-title>
          <mat-card-subtitle>Copan, Honduras</mat-card-subtitle>
        </mat-card-header>
        <img
          class="image"
          mat-card-image
          src="../../assets/coffee3.png"
          alt="Coffee"
        />
        <mat-card-content>
          <p>complex, silky, clementine, hay, lemonade</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button>MORE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
